<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Главная <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('page_show', {'url':pages['about'].url}) }}">{{ pages['about'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['why_we'].url}) }}">{{ pages['why_we'].name }}</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Решения <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('page_show', {'url':pages['payment_card'].url}) }}">{{ pages['payment_card'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['how_pay'].url}) }}">{{ pages['how_pay'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['for_partners'].url}) }}">{{ pages['for_partners'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['tarifs'].url}) }}">{{ pages['tarifs'].name }}</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пакеты и мероприятия <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('page_show', {'url':pages['info_content_packs'].url}) }}">{{ pages['info_content_packs'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['info_mobile_packs'].url}) }}">{{ pages['info_mobile_packs'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['internet_packs'].url}) }}">{{ pages['internet_packs'].name }}</a></li>
            <li><a href="{{ path('page_show', {'url':pages['info_packs_incomming'].url}) }}">{{ pages['info_packs_incomming'].name }}</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Магазин контента <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for entity in categores %}
                <li><a href="{{ path('category_show', {'url':entity.nameEn}) }}">{{ entity.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="{{ path('news_list') }}">Новости</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    {% if is_granted("ROLE_USER") %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Профаил <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('sonata_user_profile_show') }}">Просмотреть</a></li>
                <li><a href="{{ path('sonata_user_profile_edit') }}">Редактировать</a></li>
                <li><a href="{{ path('order_list') }}">Покупки</a></li>
            </ul>
        </li>
        <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
    {% else %}
        <li><a data-toggle="modal" href="#login">Вход</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
    {% endif %}
</ul>