{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NewsCategory list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
<<<<<<< HEAD
                <td><a href="{{ path('news_category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
=======
                <td><a href="{{ path('news_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
>>>>>>> 088c128b5d3c8fc55bd8fc171363dc03b4423771
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
<<<<<<< HEAD
                        <a href="{{ path('news_category_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('news_category_edit', { 'id': entity.id }) }}">edit</a>
=======
                        <a href="{{ path('news_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('news_edit', { 'id': entity.id }) }}">edit</a>
>>>>>>> 088c128b5d3c8fc55bd8fc171363dc03b4423771
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
<<<<<<< HEAD
            <a href="{{ path('news_category_new') }}">
=======
            <a href="{{ path('news_new') }}">
>>>>>>> 088c128b5d3c8fc55bd8fc171363dc03b4423771
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
