<form method="{{ formMethod }}"  class="application"  accept-charset="UTF-8" action="{{ url }}">
    <input type="hidden" name="key" value="{{ key }}" />
    <input type="hidden" name="cost" value="{{ cost }}" />
    <input type="hidden" name="name" value="{{ purchaseName }}" />
    <input type="hidden" name="default_email" value="{{ defaultEmail }}" />
    <input type="hidden" name="order_id" value="{{ orderId }}" />
    <input type="image" id="a1lite_button" style="border: 0;" src="{{ image }}" value="Оплатить" />
</form>